<div xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:tiles="http://www.thymeleaf.org" lang="en">

	<div th:fragment="modal (title, body, id)">
		<div class="modal fade" th:id="${id}">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<h4 class="modal-title" th:inline="text">[[${title}]]</h4>
					</div>
					<div class="modal-body">
						<div th:include="${'modals/' + body} :: body"></div>
					</div>
					<div class="modal-footer">
						<div th:include="${'modals/' + body} :: footer"></div>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>