<div xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:tiles="http://www.thymeleaf.org" lang="en">

	<div th:fragment="body">
		<div>
			<form method="POST" th:action="@{/expense/delete}"
				class="form-horizontal" id="expense-form" >
				<input type="hidden" name="expenseId" value=""/>
				<span>Are you sure you want to delete?</span>
			</form>
		</div>
	</div>
	<div th:fragment="footer">
		<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
		<button type="submit" class="btn btn-primary">Yes</button>
	</div>

</div>