<div xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:tiles="http://www.thymeleaf.org" lang="en">

	<div>
		<span tiles:fragment="title">Expense! Paolo Anchoriz App</span>
	</div>

	<div tiles:fragment="header">
		<h1>Expenses</h1>
	</div>

	<div tiles:fragment="mainContent">
		<div ng-controller="ExpenseController">
			<table class="table table-striped">
				<thead>
					<tr>
						<td colspan="5"><button type="button"
								class="btn btn-default pull-right" id="addExpense">Add</button></td>
					</tr>
					<tr>
						<th>Description</th>
						<th>Type</th>
						<th>Comments</th>
						<th>Amount</th>
						<th class="crud"></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="expense in expenseList">
						<td>{{expense.description}}</td>
						<td>{{expense.typeDescription}}</td>
						<td>{{expense.comments}}</td>
						<td>{{expense.amount | number:2}}</td>
						<td class="crud"><a ng-click="edit($index)"
							class="edit">Edit</a>&nbsp;<a ng-click="deleteExpense($index)" class="delete">Delete</a></td>
					</tr>
					<tr ng-show="!expenseList.length">
						<td colspan="5" >No data found</td>
					</tr>
				</tbody>
				<tfoot>
					<tr>
						<td colspan="3" class="total">Total</td>
						<td>{{totalAmount | number:2}}</td>
						<td></td>
					</tr>
				</tfoot>
			</table>
			<div
				th:replace="modals/baseModal :: modal (title='Add Expense', body='expenseForm-modal', id='addExpenseModal')"></div>
			<div
				th:replace="modals/delete :: modal (title='Delete', body='delete', id='deleteModal')"></div>
		</div>
	</div>

	<div tiles:fragment="jsContainer">
		<script type="text/javascript" th:inline="javascript">
			/*<![CDATA[*/
				$(document).ready(function() {
					$("#addExpense").on("click", function(e) {
						e.preventDefault();
						var expenseIdInput = $("[name='expenseId']");
						$("#addExpenseModal").modal("show");
					});
					
					var expenseList = /*[[${view.expenseList}]]*/ [];
					var expenseModel = /*[[${view.formModel}]]*/ {};
					
					if(expenseModel) {
						$("#addExpense").trigger("click");
					}
					/* 
					$(".edit").on("click", function(e) {
						e.preventDefault();
						$("#addExpenseModal").modal("show");
						
						var index = $(this).closest("td").data("index");
						var expense = expenseList[index];
						$('#addExpenseModal form').populate(expense);
					}); */
					
					$.getJSON(location.pathname + "/j", function(data) {
						console.log(data);
					});
					
					$("button[type='button'].submit").click(function(e) {
						e.preventDefault();
						var $_form = $(this).closest(".modal").find("form");
						var actionVal = $_form.attr("action");
						var submitModel = $_form.serialize();
						$.post(actionVal + "/j", submitModel)
							.done(function(data) {
								console.log(data);
							});
						return false;
					});
				});
				
				angular.module("myApp.controllers", []).controller("ExpenseController", function($scope) {
					var view = /*[[${view}]]*/ {};
					for(var i in view) {
						$scope[i] = view[i];
					}
					
					$scope.edit = function(inx) {
						console.log(inx);
					};
					
					$scope.deleteExpense = function(inx) {
						console.log(inx);
					};
				});
			/*]]>*/
		</script>
	</div>
</div>