<div xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" 
      xmlns:tiles="http://www.thymeleaf.org" lang="en">

	<div>
		<span tiles:fragment="title">Expense! Paolo Anchoriz App</span>
	</div>
	
	<div tiles:fragment="header"><h1>Expenses</h1></div>
	
	<div tiles:fragment="mainContent">
		<div>
			<table class="table table-striped">
				<thead>
					<tr>
						<td colspan="5"><button type="button" class="btn btn-default pull-right" id="addExpense">Add</button></td>
					</tr>
					<tr>
						<th>Description</th>
						<th>Date</th>
						<th>Type</th>
						<th>Comments</th>
						<th>Amount</th>
					</tr>
				</thead>
				<tbody>
					<tr th:unless="${#arrays.isEmpty(expenseList)}" th:each="expense : ${expenseList}">
						<td th:text="${expense.description}"></td>
						<td th:text="${expense.date}"></td>
						<td th:text="${expense.type}"></td>
						<td th:text="${expense.comments}"></td>
						<td th:text="${#numbers.formatDecimal(expense.amount,1,2)}"></td>
					</tr>
					<tr th:if="${#arrays.isEmpty(expenseList)}">
						<td colspan="5">No entries found</td>
					</tr>
				</tbody>
			</table>
		</div>
		
		<div th:replace="modals/baseModal :: modal (title='Add Expense', body='expenseForm-modal', id='addExpenseModal')"></div>
		
	</div>
	
	<div tiles:fragment="jsContainer">
		<script type="text/javascript" th:inline="javascript">
			/*<![CDATA[*/
				$(document).ready(function() {
					$("#addExpense").on("click", function(e) {
						e.preventDefault();
						$("#addExpenseModal").modal("show");
					});
					
					var errors = /*[[${errors}]]*/ {};
				});
			/*]]>*/
		</script>
	</div>
</div>