<div xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" 
      xmlns:tiles="http://www.thymeleaf.org" lang="en">

	<div>
		<span tiles:fragment="title">Home! Paolo Anchoriz App</span>
	</div>
	
	<div tiles:fragment="header"><h1>Home</h1></div>
	
	<div tiles:fragment="mainContent">
		<p>
			Hi! Welcome to my web app. I don't know yet what this will do, but soon, it will do some exciting things using
			new technologies like BootstrapJS, AngularJS for the front end, and Spring framework at the back. For now,
			let's just deal with what we see. :) 
		</p>
	</div>
</div>