

<div class="container venue-list">
	<div>
		<h2>Venues</h2>
		
	</div>
	<div class="row">
		<span class="pull-right add-new-venue"><a href="#/venue/add">Add
						new venue</a></span>
		<div class="row venue-search" style="widht:inherit;">
			<div id="filter-panel" class="filter-panel">
				<div class="panel panel-default">
					<div class="panel-body form-inline">
							<label class="filter-col" for="search">Search: </label>
							<input type="text" class="form-control input-sm search" placeholder="Search" id="search" ng-model="searchCondition"/>
							
							<label class="filter-col" for="province">Location: </label>
							<input type="text" class="form-control input-sm search" placeholder="Province" id="province" ng-model="province"/>
							<input type="text" class="form-control input-sm search" placeholder="City/Municipality" id="city" ng-model="city"/>
							
							<div class="court-type-filter">
								<span class="court-type-check">
									<label class="filter-col">Court: </label>
									<label class="filter-check" for="courtType_1"><input type="checkbox"
										name="courtType" value="1" id="courtType_1" ng-model="courtType.indoor">Indoor</label>
									<label class="filter-check" for="courtType_2"><input type="checkbox"
										name="courtType" value="2" id="courtType_2" ng-model="courtType.covered">Covered</label>
									<label class="filter-check" for="courtType_3"><input type="checkbox"
										name="courtType" value="3" id="courtType_3" ng-model="courtType.outdoor">Outdoor</label>		
								</span>	
								<span class="court-type-check">
								<label class="filter-col" for="province">Floor: </label>
									<label class="filter-check" for="floorType_1"><input type="checkbox"
										name="floorType" value="1" id="floorType_1" ng-model="floorType.hardWood">Hardwood</label>
									<label class="filter-check" for="floorType_2"><input type="checkbox"
										name="floorType" value="2" id="floorType_2" ng-model="floorType.rubberized">Rubberized</label>
									<label class="filter-check" for="floorType_3"><input type="checkbox"
										name="floorType" value="3" id="floorType_3" ng-model="floorType.cement">Cement</label>
								</span>
								<span class="buttons">
									<button class="btn btn-primary search" ng-click="searchAction()">
										Search
									</button>
								</span>
							</div>
					</div>
					
				</div>
			</div>
		</div>
	</div>
	
	<div class="container" ng-show="!venues.length">
		<span class="empty-search" >Search Condition did not return any results.</span>
		<div>
			<span>Please try another set of conditions.</span>
		</div>
	</div>
	<div class="row carousel-row" ng-repeat="venue in venues">
		
		<div class="col-xs-8 col-80 slide-row">
			<div id="carousel-{{$index}}" class="carousel slide slide-carousel"
				data-ride="carousel">
				<!-- Indicators -->
				<ol class="carousel-indicators">
					<li data-target="#carousel-{{$index}}" data-slide-to="0"
						class="active"></li>
					<li data-target="#carousel-{{$index}}" data-slide-to="1"></li>
					<li data-target="#carousel-{{$index}}" data-slide-to="2"></li>
				</ol>

				<!-- Wrapper for slides -->
				<div class="carousel-inner custom-carousel-inner">
					<div class="item active">
						<img src="resources/img/clover1.jpg" alt="Image">
					</div>
					<div class="item">
						<img src="resources/img/clover2.jpg" alt="Image">
					</div>
					<div class="item">
						<img src="resources/img/clover3.jpg" alt="Image">
					</div>
				</div>
			</div>
			<div class="slide-content">
				<div class="btn-group btn-group-venue-list">
					<button type="button" class="btn btn-default dropdown-toggle"
						data-toggle="dropdown">
						<span class="caret"></span>
					</button>
					<ul class="dropdown-menu" role="menu">
						<li class="dropdown-plus-title">Options <b
							class="pull-right glyphicon glyphicon-chevron-up"></b>
						</li>
						<li><a href="#">Create Game</a></li>
						<li><a href="#">Show Map</a></li>
						<li><a href="#/venue/{{venue.venueId}}">Edit Information</a></li>
					</ul>
				</div>
				<h4>{{ venue.venueName }}</h4>
				<span class="small">{{ venue.streetAddress }}, {{ venue.city
					}}, {{ venue.province }}</span> <br />
				<!-- street address, city, region -->
				<span class="medium"><label class="strong">Contact
						No.:&nbsp;</label>{{ venue.contact }}</span> <br />
				<!-- contact number -->
				<span class="medium"><label class="strong">Rate:&nbsp;</label>{{
					venue.rate | phPeso }}</span> <br />
				<!-- rate per hour -->
				<span class="medium"><label class="strong">Type:&nbsp;</label>{{
					venue.courtType | courtType }}, {{ venue.flooringType | floorType
					}}</span>
				<!-- court type, flooring type -->
			</div>
		</div>
	</div>
	
	<pagination ng-click="searchAction(pageNo)" max-size="10" items-per-page="10" ng-show="totalPages > 1" total-items="totalElements" ng-model="pageNo" class="pagination-sm" rotate="true" boundary-links="true"></pagination>
	
</div>