<div class="form-container">
	<div>
		<div class="row">
			<h2>Create a Game</h2>
		</div>
		
		<div class="row">
			<form class="form-horizontal" role="form">
		
				<!-- City and Town will be drop down with fixed input coming from the server side. -->
				<div class="form-group">
					<label class="control-label col-sm-2" for="provice">Province:</label>
					<div class="col-sm-4">
						<div custom-select="provinceOptions" ng-model="game.province" ng-change="game.city = ''" ng-options="p for p in provinces"></div>
					</div>
				</div>
				
				<div class="form-group">
					<label class="control-label col-sm-2" for="city">City/Municipality:</label>
					<div class="col-sm-4">
						<div custom-select="cityOptions" ng-disabled="!game.province" ng-model="game.city" ng-options="c for c in locationsMap[game.province]"></div>
					</div>
				</div>
				
				<input type="hidden" value="" ng-model="game.venueId" readonly/>
				<div class="form-group">
					<label class="control-label col-sm-2" for="venueName">Venue Name:</label>
					<div class="col-sm-4">
						<input type="text" placeholder="Venue Name" typeahead-loading="loadingVenues" 
							typeahead="venue for venue in fetchVenues($viewValue)"
							ng-disabled="!game.city" ng-model="game.venueName" class="form-control"
							typeahead-template-url="typeAhead.html"
							typeahead-on-select="onSelect($item)"/>
							
							<i ng-show="loadingVenues" class="glyphicon glyphicon-refresh"></i>
					</div>
				</div>
				
				<div class="form-group row">
					<div class="col-md-9">
						<span class="pull-right buttons venue-form-buttons">
							<button class="btn btn-primary" ng-click="save()">
								Save
							</button>
						</span>
					</div>
				</div>
			</form>
		</div>
	</div>
	<script type="text/ng-template" id="typeAhead.html">
  		<a>
      		<span bind-html-unsafe="match.label.venueName | typeaheadHighlight:query"></span>
  		</a>
	</script>
</div>